
@font-face {
    font-family: space;
    src: url('./fonts/space.ttf');
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #5A5A5A;
    height: 5rem;
    display: flex;
    align-items: center;
}


.header__section {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
	background: none;
	color: inherit;
	border: black solid;
    border-width: 1px;
	padding: 19.2px;
	cursor: pointer;
	outline: inherit;
}

.login-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 9rem;
    height: 7rem;
    margin: 8.7rem 11.4rem 0 0;
}

.banner-left{
    display: flex;
    margin-left: 15px;
}

.menu-icon{
  margin: auto;
  padding-right: 10px;
}

.logo {
    font-family: space;
    font-size: 5rem;
    padding-bottom: 13px;
}

img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
