@font-face {
    font-family: space;
    src: url('./fonts/space.ttf');
}

main{
    height: 2000px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2eee2;
}

header {
    background-color: #c1e1c1;
    height: 5rem;
    display: flex;
    align-items: center;
}


.header__section {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    color: inherit;
    border: black solid;
    border-width: 1px;
    padding: 19.2px;
    cursor: pointer;
    outline: inherit;
    width: 9rem;
}

.login-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F2eee2;
    width: 9rem;
    height: 7rem;
    margin: 8.7rem 11.4rem 0 0;
}

.banner-left {
    display: flex;
    margin-left: 15px;
}

.menu-icon {
    margin: auto;
    padding-right: 10px;
}

.logo {
    font-family: space;
    font-size: 5rem;
    padding-bottom: 13px;
}

img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.section-img {
    margin: 0 15px 0 0 ;
}

@media (max-width: 390px) {
    .logo {
        font-size: 30px;
        margin: 5px 0 0 0;
    }


    .menu-icon {
        height: 30px;
        width: 30px;
    }

    .header {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .logo {
        font-size: 3rem;
        margin: 5px 0 0 0
    }

    .menu-icon {
        height: 30px;
        width: 30px;
    }

}

@media (max-width:310px) {
    .logo {
        font-size: 2rem;
    }

    .section-img {
        border-radius: 100%;
        width: 35px;
        height: 35px;
    }

    header {
        height: 3rem
    }
}

#filter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15rem;
    align-items: center;
    margin: 30px 30px;
    background-color: #c1e1c1;
    border-radius: 25px;
    height: 30rem;
}

.primer_seccion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input.buscar_ciudad {
    margin: 20px;
    height: 25px;
    width: 12rem;
}
button.buscar-button {
    background-color: #F2eee2;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.segunda_seccion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}

label {
    font-size: 15px;
    margin: 0px 55px 0px 0px;
}

button.filtrar-precio {
    background-color: #F2eee2;
    height: 30px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
