.sessionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32rem;
}

.sesion {
    display: flex;
    background-color: #c1e1c1;
    justify-content: center;
    padding: 25px 0 0 0;
    border-radius: 50px;
    width: 30rem;
    
}

.sesion_button {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.iniciar-button {
    background-color: #F2eee2;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.olvidoContrasena {
    display: flex;
    justify-content: center;
}

.Session_Nueva {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Cuenta-Nueva {
    background-color: #F7BD56;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: 5px 0 20px 0;
}

@media (max-width:1328px){

    .sessionContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32rem;
    }


}

@media (max-width:600px){

    .sessionContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26rem;
    }

    .sesion {
        display: flex;
        background-color: #c1e1c1;
        justify-content: center;
        padding: 25px 0 0 0;
        border-radius: 50px;
        width: 20rem;
    }

    #emailorphone {
        width: 15rem;
    }

    #password {
        width: 15rem;
    }


}

@media (max-width:600px){

    .sessionContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26rem;
    }

    .sesion {
        display: flex;
        background-color: #c1e1c1;
        justify-content: center;
        padding: 25px 0 0 0;
        border-radius: 50px;
        width: 20rem;
    }

    #emailorphone {
        width: 15rem;
    }

    #password {
        width: 15rem;
    }


}


@media (max-width:600px){

    .sessionContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26rem;
    }

    .sesion {
        display: flex;
        background-color: #c1e1c1;
        justify-content: center;
        padding: 25px 0 0 0;
        border-radius: 50px;
        width: 20rem;
    }

    #emailorphone {
        width: 15rem;
    }

    #password {
        width: 15rem;
    }


}

@media (max-width:480px){

    .sessionContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26rem;
    }

    .sesion {
        display: flex;
        background-color: #c1e1c1;
        justify-content: center;
        padding: 25px 0 0 0;
        border-radius: 25px;
        width: 15rem;
    }

    #emailorphone {
        width: 10rem;
    }

    #password {
        width: 10rem;
    }


}

