section.backArrow {
    position: absolute;
    right: 15px;
    
}

.Arrow {
    width: 50px;
    height: 50px;
}


main {
    display: flex
}

.rg-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
}

button {
    border: none;
}


.acordeon {
    font-weight: 500;
    border-radius: 7px;
    background: #c1e1c1;
    width: 70rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    font-size: 16px;
    height: 5rem;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acordeon:hover {
    background-color: #81d2c2;
}

.panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    margin: 20px 0;
    flex-wrap: wrap;
    flex-direction: row;
    display: none;
    overflow: hidden;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 50vh;
    /* width: 40vw; */
    align-items: center;
    justify-content: space-between;
}

label {
    display: block;
    width: 50px;
}

input {
    display: block;
    height: 35px;
    width: 300px;
    margin: 0.6rem 0;
}

#select{
    display: block;
    height: 35px;
    width:300px;
    margin:0.6rem 0
}

.form-text {
    /* margin: 20px 0;
    height: 65px; */
    width: 402px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.form-text-select {
    height: 65px;
    width: 402px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.select {
    display: flex;
    height: 65px;
    width: 200px;
    align-items: center;
    justify-content: center;
}

footer#footer {
    height: 3.5rem;
    background-color: #c1e1c1;
}

@media (max-width:1366px) {

    .acordeon {
        width: 70rem;
    }

}

@media (max-width:1200px) {

    .acordeon {

        width: 50rem;

    }

}

@media (max-width:1050px) {

    .acordeon {

        width: 40rem;

    }

}

@media (max-width:850px) {

    .acordeon {

        width: 30rem;
        font-size: 15px;

    }

    .Arrow {
        width: 40px;
        height: 40px;
    }

}

@media (max-width:700px) {

    .acordeon {

        width: 20rem;

    }

    .form-text{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width:430px) {

    .acordeon {

        width: 15rem;
        font-size: 10px;
        height: 50px;
    }

    header {
    
        height: 50px
    }
    

}

@media (max-width:310px) {

    .acordeon {

        width: 10rem;
        font-size: 10px;
        height: 50px;
    }

    header {
        height: 50px
    }

    .Arrow {
        width: 30px;
        height: 30px;
    }
}